version: 2.1

jobs:
  test:
    docker: 
      - image: python:3.10
    steps:
      - checkout
      - run: chmod +x cli
      - run: ./cli test

  deploy:
    docker:
      - image: amazon/aws-cli:2.11.25
    steps:
      - checkout
      - run: chmod +x cli
      - run: ./cli deploy

workflows:
  test-and-deploy:
    jobs:
      - test
      - deploy
