version: 2.1

jobs:
  test_unit:
    docker: 
      - image: python:3.10
    steps:
      - checkout
      - run: chmod +x cli
      - run: ./cli test

  deploy:
    docker:
      - image: hashicorp/terraform:1.4.6
    steps:
      - checkout
      - run: chmod +x cli
      - run: ./cli deploy
      - persist_to_workspace:
          root: deploy
          paths:
            - api_url

  test_system:
    docker: 
      - image: busybox:1.36
    steps:
      - attach_workspace:
          at: /tmp/deploy
      - run: wget $(cat /tmp/deploy/api_url)

workflows:
  default:
    jobs:
      # - test_unit
      - deploy:
          context:
            AWS
          # requires:
          #   - test_unit
      - test_system:
          requires:
            - deploy
