version: 2.1

jobs:
  test:
    docker: 
      - image: python:3.10
    steps:
      - checkout
      - run: chmod +x cli
      - run: ./cli test

  deploy:
    docker:
      - image: hashicorp/terraform:1.4.6
    steps:
      - checkout
      - run: chmod +x cli
      - run: ./cli deploy

workflows:
  deploy:
    jobs:
      - deploy
  # test-and-deploy:
  #   jobs:
  #     - test
  #     - deploy
